<ul>
  <li><strong>Standard:</strong>&nbsp;{{ periodRate.standard }}</li>
  <li *ngIf="periodRate.parking"><strong>Parking:</strong>&nbsp;{{ periodRate.parking }}</li>
  <li *ngIf="periodRate.reduced"><strong>Reduced:</strong>&nbsp;{{ periodRate.reduced }}</li>
  <li *ngIf="periodRate.reduced1"><strong>Reduced1:</strong>&nbsp;{{ periodRate.reduced1 }}</li>
  <li *ngIf="periodRate.reduced2"><strong>Reduced2:</strong>&nbsp;{{ periodRate.reduced2 }}</li>
  <li *ngIf="periodRate.superReduced"><strong>Super Reduced:</strong>&nbsp;{{ periodRate.superReduced }}</li>
</ul>
